<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134657500594-d0ilvj81fru8mgsrleb0g0im0ko9pgu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134657500594-d0ilvj81fru8mgsrleb0g0im0ko9pgu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCaPcngxm4lnrd_wSMJ4Zrv1dvWNvbQDnY</string>
	<key>GCM_SENDER_ID</key>
	<string>134657500594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-56699</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-56699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134657500594:ios:230700b7a252d64baf30ab</string>
</dict>
</plist>